/* section : moviechart */
.moviechart {
  padding: 50px 0 144px 0;
  color: #f1f1f1;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.8));
}
.moviechart .title .inner {
  width: 1200px;
  margin: 0 auto;
}
.moviechart .title .inner {
  display: flex;
  justify-content: space-between;
}
.moviechart .title .inner .left {
  display: flex;
  gap: 20px;
}
.moviechart .title .inner .left h2 {
  color: var(--primary);
  font-size: 30px;
  font-weight: 500;
}
.moviechart .title .inner .left span {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.moviechart .title .inner .right {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  cursor: pointer;
}
.moviechart .title .inner .right .icon {
  font-size: 14px;
}
.moviechart .content {
  margin-top: 42px;
}
.moviechart .content .inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.moviechart .content .inner .btn {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.moviechart .content .inner .prevbtn {
  left: -124px;
}
.moviechart .content .inner .nextbtn {
  right: -124px;
}
.moviechart .swiper .swiper-slide {
  position: relative;
  border-radius: 12px;
  width: 260px;
  height: 370px;
  overflow: hidden;
}
.moviechart .swiper .swiper-slide:hover .detail {
  opacity: 1;
  transition: 0.3s;
}
.moviechart .content .inner .detail {
  opacity: 0;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.moviechart .content .inner .detail .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
}
.moviechart .content .inner .detail .info {
  position: absolute;
  bottom: 16px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.moviechart .content .inner .detail .info .link {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}
.moviechart .content .inner .detail .info .link button {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 38px;
  background-color: transparent;
}
.moviechart .content .inner .detail .info .link button:first-child {
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
}
.moviechart .content .inner .detail .info .link button:last-child {
  color: #f1f1f1;
  background: linear-gradient(90deg, #ff7356, #fb4357);
}

/* swiper */
.moviechart .swiper .swiper-button-prev,
.moviechart .swiper .swiper-button-next {
  display: none;
}
