/* section : theater */
.theater {
  margin-top: 126px;
  overflow: hidden;
}
.theater .inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}
.theater img {
  width: 382px;
  height: 212px;
  border-radius: 12px;
}
.theater .inner .list {
  display: flex;
  user-select: none;
  gap: 16px;
}
.theater .inner .list .list-group {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  animation: scroll-x var(--duration) linear infinite;
}
.theater .inner .list-reverse .list-group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@media (prefers-reduced-motion: reduce) {
  .list {
    animation-play-state: paused;
  }
}
@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}