@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-event($index) {
  background: url("../assets/event#{$index}.webp") no-repeat center center;
  background-size: cover;
}

.event {
  margin-top: 90px;

  .inner {
    width: 1200px;
    margin: 0 auto;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left h2 {
        font-size: 30px;
        font-weight: 500;
      }

      .right {
        border: 1px solid #e2e2e2;
        font-size: 14px;
        border-radius: 30px;
        width: 120px;
        height: 30px;
        @include flex-center();
        gap: 16px;
        cursor: pointer;
      }
    }

    .contents {
      margin-top: 44px;

      .tabmenu {
        ul {
          display: flex;
          gap: 16px;

          li {
            border-radius: 30px;
            width: 150px;
            height: 36px;
            @include flex-center();
            transition: 0.3s;
            cursor: pointer;

            &:hover,
            &.active {
              color: #f1f1f1;
              background: linear-gradient(90deg, #ff7356, #fb4357);
            }
          }
        }
      }

      .lists {
        margin-top: 26px;

        ul {
          display: flex;
          gap: 6px;
          overflow: hidden;

          li {
            border-radius: 12px;
            position: relative;
            width: calc(1200px / 7);
            height: 530px;
            flex: 1;
            filter: grayscale(1);
            transition: 0.3s;
            cursor: pointer;
            overflow: hidden;

            &.loading {
              background: #e2e2e2; // 로딩 중일 때 회색 배경
            }

            &.loaded {
              filter: grayscale(1);
            }

            &:hover {
              flex: 5;
              filter: grayscale(0);

              div {
                opacity: 1;
                transition: 0.3s;
              }
            }

            div {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.6);
            }

            @for $i from 1 through 35 {
              &.background-event#{$i} {
                @include background-event($i);
              }
            }
          }

          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 30px;
            border: 1px solid #f1f1f1;
            width: 130px;
            height: 38px;
            @include flex-center();
            color: #f1f1f1;
          }
        }
      }
    }
  }
}
