@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie {
  position: relative;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    display: flex;
    justify-content: space-between;
    .left {
      width: 328px;
      display: flex;
      flex-direction: column;
      gap: 22px;
      .poster {
        border-radius: 12px;
        overflow: hidden;
      }
      .info {
        @include flex-center;
        justify-content: space-between;
        height: 46px;
        span {
          display: block;
          color: #f1f1f1;
          @include flex-center;
          width: 128px;
        }
        button {
          border-radius: 30px;
          width: 190px;
          height: 46px;
          @include flex-center;
          color: #f1f1f1;
          background: linear-gradient(90deg, #ff7356, #fb4357);
        }
      }
    }
    .right {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: end;
      h2 {
        font-size: 60px;
        font-weight: 700;
        color: #f1f1f1;
      }
      p {
        margin: 0;
        font-size: 36px;
        color: #f1f1f1;
        span {
          color: var(--primary);
        }
      }
    }
  }
}
