@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
header.light {
  .inner {
    width: 1200px;
    height: 136px;
    margin: 0 auto;
    @include flex-center;
    .content {
      height: inherit;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .top {
      display: flex;
      justify-content: flex-end;
      gap: 82px;
      .logo {
        display: flex;
        gap: 8px;
        div {
          &:first-child {
            cursor: pointer;
          }
          &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: var(--text);
          }
        }
      }
      .user {
        display: flex;
        gap: 10px;
        a {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          font-size: 14px;
          color: var(--text);
        }
      }
    }
    .bottom {
      ul {
        @include flex-center;
        align-items: center;
        li {
          width: 80px;
          height: 26px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
            margin-left: 30px;
            width: 18px;
            height: 18px;
            cursor: pointer;
          }
          &:hover button {
            color: var(--primary);
            transition: 0.3s;
          }
          button {
            color: var(--text);
            display: block;
            text-align: center;
            line-height: 1.6em;
            box-sizing: border-box;
            background-color: transparent;
          }
          &:nth-of-type(2) button {
            color: var(--primary);
          }
        }
      }
    }
  }
}

section.preparing {
  .inner {
    @include flex-center;
    flex-direction: column;
    height: 484px;
    .content {
      @include flex-center;
      flex-direction: column;
      text-align: center;
      gap: 18px;
      div {
        &:first-child {
          width: 48px;
          height: 48px;
        }
        &:last-child {
          display: flex;
          flex-direction: column;
        }
      }
      h2 {
        font-size: 20px;
      }
      .notice div {
        color: #acacac;
        margin-top: 6px;
      }
    }
  }
}
