$primary-color: var(--primary);
$text-color-light: #f1f1f1;
$btn-size: 38px;
$width: 1200px;
$swiper-slide-width: 260px;
$swiper-slide-height: 370px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviechart {
  padding: 50px 0 144px 0;
  color: $text-color-light;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.8));
  .title {
    .inner {
      width: $width;
      margin: 0 auto;
      @include flex-center;
      justify-content: space-between;
      .left {
        display: flex;
        gap: 20px;
        h2 {
          color: $primary-color;
          font-size: 30px;
          font-weight: 500;
        }
        span {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
      .right {
        @include flex-center;
        gap: 16px;
        font-size: 14px;
        cursor: pointer;
        .icon {
          font-size: 14px;
        }
      }
    }
  }

  .content {
    margin-top: 42px;
    .inner {
      position: relative;
      width: $width;
      margin: 0 auto;
      .btn {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        transform: translateY(-50%);
      }
      .prevbtn {
        left: -124px;
      }
      .nextbtn {
        right: -124px;
      }
      .detail {
        opacity: 0;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        transition: opacity 0.3s;
        .btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: $btn-size;
          height: $btn-size;
        }
        .info {
          position: absolute;
          bottom: 16px;
          left: 50%;
          width: 100%;
          transform: translateX(-50%);
          .link {
            margin-top: 16px;
            @include flex-center;
            flex-direction: column;
            gap: 8px;
            button {
              border-radius: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 120px;
              height: $btn-size;
              background-color: transparent;
              &:first-child {
                border: 1px solid $text-color-light;
                color: $text-color-light;
              }
              &:last-child {
                color: $text-color-light;
                background: linear-gradient(90deg, #ff7356, #fb4357);
              }
            }
          }
        }
      }
    }
  }

  .swiper {
    .swiper-slide {
      position: relative;
      border-radius: 12px;
      width: $swiper-slide-width;
      height: $swiper-slide-height;
      overflow: hidden;
      &:hover .detail {
        opacity: 1;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}
