.upcoming {
  margin-top: 50px;
  .inner {
    width: 1200px;
    margin: 0 auto;
    .title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: end;
      .left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
          font-size: 30px;
          font-weight: 500;
        }
      }
      .right {
        border: 1px solid #e2e2e2;
        font-size: 14px;
        border-radius: 30px;
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        cursor: pointer;
      }
    }
    .movie {
      display: flex;
      justify-content: space-between;
      height: 436px;
      margin-top: 40px;
      .left {
        display: flex;
        gap: 12px;
        .poster {
          position: relative;
          width: 318px;
          border-radius: 12px;
          overflow: hidden;
          &:hover .eff {
            opacity: 1;
            transition: 0.3s;
          }
          .eff {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
          }
          .btn {
            position: absolute;
            right: 10px;
            bottom: 10px;
            cursor: pointer;
          }
          .link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            button {
              border: 1px solid #f1f1f1;
              border-radius: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 120px;
              height: 38px;
              color: #f1f1f1;
            }
          }
        }
        .detail {
          width: 450px;
          .title {
            justify-content: start;
            gap: 16px;
            height: 36px;
            h4 {
              font-size: 24px;
              font-weight: 500;
            }
            span {
              font-size: 14px;
            }
          }
          .summary {
            margin-top: 20px;
            line-height: 1.6em;
            font-size: 14px;
          }
          .list {
            margin-top: 50px;
            h4 {
              text-align: center;
              font-size: 16px;
              font-weight: 500;
            }
            .choice {
              margin-top: 20px;
              ul {
                display: flex;
                gap: 20px;
                justify-content: space-between;
                margin-bottom: 4px;
                &:last-child {
                  margin-bottom: 0;
                }
                li {
                  align-items: center;
                  width: 50%;
                  height: 32px;
                  padding: 0 6px;
                  font-size: 14px;
                  line-height: 2.2em;
                  transition: 0.3s;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  cursor: pointer;
                  &:hover {
                    border-radius: 6px;
                    color: #f1f1f1;
                    background-color: #191919;
                  }
                }
              }
            }
          }
          .link {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 20px;
            button {
              border-radius: 30px;
              width: 170px;
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #f1f1f1;
              &:first-child {
                background: linear-gradient(90deg, #ff7356, #fb4357);
              }
              &:last-child {
                border: 1px solid #fb4357;
                color: var(--primary);
                transition: 0.3s;
                &:hover {
                  color: #f1f1f1;
                  background: linear-gradient(90deg, #ff7356, #fb4357);
                }
              }
            }
          }
        }
      }
      .right {
        width: 392px;
        overflow-y: scroll;
        ul {
          display: flex;
          gap: 16px;
          margin-bottom: 12px;
          &:last-child {
            margin-bottom: 0;
          }
          li {
            div {
              position: relative;
              width: 176px;
              height: 240px;
              border-radius: 12px;
              overflow: hidden;
              &:hover .eff {
                opacity: 1;
                transition: 0.3s;
              }
              .eff {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                .btn {
                  position: absolute;
                  right: 10px;
                  bottom: 10px;
                  width: 24px;
                  height: 24px;
                  cursor: pointer;
                }
                .link {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 100px;
                  height: 32px;
                  button {
                    border: 1px solid #f1f1f1;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 32px;
                    font-size: 14px;
                    color: #f1f1f1;
                  }
                }
              }
            }
            span {
              width: 176px;
              margin-top: 8px;
              display: block;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
.upcoming .inner .movie .right::-webkit-scrollbar {
  border-radius: 12px;
  width: 6px;
  background-color: rgba(251, 67, 87, 0.1);
}
.upcoming .inner .movie .right::-webkit-scrollbar-thumb {
  background-color: #fb4357;
  border-radius: 12px;
}
